/build-QuickTreining-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/.qmake.stash
/build-QuickTreining-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/debug/main.o
/build-QuickTreining-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/debug/qrc_qml.cpp
/build-QuickTreining-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/debug/qrc_qml.o
/build-QuickTreining-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/debug/QuickTreining.exe
/build-QuickTreining-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/Makefile
/build-QuickTreining-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/Makefile.Debug
/build-QuickTreining-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/Makefile.Release
/QuickTreining/QuickTreining.pro.user
/garbage/black long.jpg
/garbage/black short.jpg
/garbage/clock.jpg
/garbage/images.jfif
/garbage/red long.jpg
/garbage/red short.jpg
/garbage/wskazówki.jpg
/QuickTreining/QuickTreining.pro.orig
/QuickTreining/QuickTreining.pro.user.22
/QuickTreining/QuickTreining.pro.user.4.8-pre1
